body{
	margin:0;
	padding:0;
	font-family:Arial, sans-serif;
	background:#ffffff;
}
ul, ol, li, dl, dt, dd, form, fieldset, legend, figure, hgroup, td, h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
	font-family:Arial, sans-serif;
}
ul{
	margin:10px 0 20px 0px;
}
li {
	list-style:none;  
	padding:5px 18px 5px 0px;
}
hr{
  color: #E1E1E1;
}

#map_canvas {
  top: 50px;
  bottom: -50px;
}
#wrapper{
	/*width:1200px;*/
	margin:0 auto;
	background:#fff;
  min-width:800px; /* for ie - overruled with media queries at bottom */
}

/* header, logo and nav */
header{
	display:block;
	position:absolute;
	width:100%;
	z-index:999;
	min-width:800px; /* for ie - overruled with media queries */
}
#onion_logo{
	position:absolute;
	z-index:100;
	margin: 1px 0 0 15px;
}

#nav_holder{
/*  margin:12px 0 0; /* if we want a gap at the top */*/
	margin:8px 0 0 0;
	padding:8px 20px 9px 60px;
	background:#000000;
	color:#fff;
	overflow:auto;
}

nav{
	float:left;
}
header p{
	margin:0;
	font-size:75%;
}
nav a{
	color:#fff;
	font-size:85%;
	text-decoration:none;
	text-transform:uppercase;
	color:#ccc;
	display:inline-block;
	margin-right:16px;
}
nav a.selected{
	color:#B0C659;
}
nav #small_copy{
  display:none;
}
#masthead img,
#masthead canvas{
	width:100%;
}
#masthead{ /* uses the figure tag */
	height:auto;
	min-height:170px;
	max-height:250px; /* this is the default - it will be over-ruled with javascript depending on screen size */
	overflow:hidden;
	background:#fff;
}

.index #masthead img{
	min-height:440px;
}
/* old code used to put padding and border around images */
img.masthead{
	border:1px solid #ddd;
	padding:1px;
	background:#fff;
}
/* for index pages where content is displayed OVER the main image */
#masthead_overlay{
	position:absolute;
	z-index:2;
	top:0;
	padding-top:80px;
	width:100%;
	overflow:hidden;
}
#masthead_overlay h1{
  padding-left: 20px;
  font-size: 5em;
	position:relative;
}
#masthead_overlay h3 {
  padding-left: 20px;
}

#content_holder{
	clear:both;
  margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}
#content_holder_map{
	clear:both;
	margin-left: 20px;
	margin-right: 20px;
}


.details{
	clear:both;
}
.details li{
	width:233px;
/*  height:500px;*/
	float:left;
}
.details p{
  color: #888888;
}
.details a{
  color: #888888;
}

.sublist li {
  width: auto;
  height: auto;
  float: none;
  padding: 0 0 5px 0px;
}

#footer {
  clear:both;
	margin-left: 20px;
	margin-right: 20px;
  font-size: 85%;
}
#google_translate_element {
  padding-right: 40px;
  float: right;
}

@media only screen and (max-width: 767px) {
  #masthead{ 
    max-height:150px;
  }
  #masthead_overlay{
    padding-top: 40px;
  }
  
  .details li {
    padding:5px 0 5px 0px;
    float: none;
    height: auto;
    width: auto;
  }
  
}

@media only screen and (max-width: 700px) {
  #masthead{
    max-height:270px;
  }
  #masthead_overlay{
    width: 400px; /* Squish the copy */
    padding-top: 30px;
  }

  nav #small_copy{
    display:block;
  }
  nav #large_copy{
    display:none;
  }

}

/* all responsive screens - overule IE min width */
@media only screen and (min-width: 1px){
 	#wrapper,
	header,
	header,
	#resources_holder,
	#cta_holder{
		min-width:239px;
	}
}	
 


